@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 210 100% 20%;
  /* #002366 - Navy Blue */
  --accent: 46 68% 52%;
  /* #D4AF37 - Gold */
  --gray-text: 0 0% 33%;
  /* #555555 - Dark Gray */
  --background: 0 0% 96%;
  /* #F5F5F5 - Light Gray */
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom Animation Classes */
.gradient-animation {
  background-size: 200% 200%;
  animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: hsla(var(--background));
}

::-webkit-scrollbar-thumb {
  background: hsla(var(--primary), 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(var(--primary), 0.5);
}